@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Roboto+Condensed:wght@300&display=swap');


body {
  background-color: #2f3544;
  font-family: 'Delicious Handrawn', cursive;
font-family: 'Roboto Condensed', sans-serif;
}

.input-group {
  max-width: 60%;
}

#imgCard{
height: 420px;
}

.card {
  max-width: 60%;
}

.card-title{
  position: absolute;
  padding: 20px;
}

.App {
  text-align: center;
}

.card-date {
  position: absolute;
  padding-left: 20px;
  margin-top: 60px;
}

.card-temp {
  position: absolute;
  padding-left: 20px;
  margin-top: 310px;
  font-size: 50px;
  font-weight: 700;
  
}
.card-desc {
  position: absolute;
  padding-left: 20px;
  margin-top: 350px;
}

